<div class="container-fluid bg-dark">
  <nav class="container navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="">
      <img src="../../assets/imgs/coder.png" alt="" width="30" height="30" class="rounded">
      <span class="text-white ml-3">Brighter Myanmar</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="cart/detail">
            <i class="fa fa-shopping-cart"></i>
            <span class="badge badge-pill badge-danger my-badge">{{cartCount}}</span>
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="history">Order History</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Member
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" *ngIf="isAuth" (click)="logoutUser()">Logout</a>
            <a class="dropdown-item" routerLink="auth" *ngIf="!isAuth">Login</a>
            <a class="dropdown-item" routerLink="auth/register" *ngIf="!isAuth">Register</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="isAuth">
          <a class="nav-link dropdown-toggle text-white" href="#" id="nbdd" role="button"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="nbdd">
            <a class="dropdown-item" routerLink="/admin/gallery">Gallery</a>
            <a class="dropdown-item" routerLink="/admin/post/all">Post</a>
            <a class="dropdown-item" routerLink="/admin">Home</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
